.logo {
  width: 130px;

  --color-1: #0f172a;
  --color-2: #60c5ff;

  &.strong {
    width: 230px;
  }
}

@at-root html[class~="dark"] {
  .logo {
    --color-1: #f1f5f9;
    --color-2: hsl(202 100% 39% / 1);
  }
}
